<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>on-line library</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../public/style.min.css">
	<link rel="SHORTCUT ICON" href="../../images/icon.ico" />
</head>
<body>
	{{{body}}}

	<script src="../../public/app.js"></script>
</body>
</html>